body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  height: 100vh;
  background-color: rgb(24, 24, 24);
}

textarea {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
  Arial, sans-serif;
  resize: none;
  width: 100%;
  padding: 10px;
  background-color: rgb(51, 51, 51);
  color: rgb(0, 141, 197);
  outline: none; /* Remove the focus outline */
  border-style: none;
  overflow-x: auto;
  white-space: nowrap;
  border-radius: 10px;
}

input {
  padding: 4px 10px;
  background-color: rgb(31, 31, 31);
  color: rgb(0, 141, 197);
  outline: none; /* Remove the focus outline */
  border-style: none;
  border-radius: 10px;
}

.base-grid {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 35%;
  grid-gap: 10px;
  overflow: hidden;
}

.variable-convert-grid {
  display: grid;
  overflow: hidden;
  grid-gap: 10px;
  grid-template-rows: 1fr auto 1fr;
  padding: 10px 0px 10px 10px;
}

.quick-copy-grid {
  display: grid;     
  grid-template-rows: auto auto 1fr;
  grid-gap: 10px;
  margin: 10px 10px 10px 0px;
  overflow: hidden;
}

.quick-copy-button-grid {
  display: grid;
  grid-gap: 5px;
}

.preload-input-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2px;
}

.preload-input-grid button {
  padding: 5px 0px;
}

button {
  background-color: rgb(0, 102, 143);
  border-style: none;
  color: white;
  padding: 10px 0px;
  border-radius: 10px;
}

button:hover{
  background-color: rgb(0, 135, 189);
  color: white;
}

.button-clicked {
  color: rgb(0, 75, 161);
  background-color: white;
}

.output-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}

h1,h2,h3,h4,h5,h6 {
  color: rgb(0, 141, 197);
  text-align: center;
  padding: 0px;
  margin: 0px;
}

.container {
  background-color: #2e2e2e; 
  padding: 5px 10px; 
  border-radius: 10px;
}

.variable-div-grid {
  display: grid;
  grid-template-columns: 1fr 20%;
  grid-gap: 10px;
}

.callback-grid {
  display: grid;
  grid-gap: 2px;
}

.callback-button-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2px;
}

.callback-button-grid button {
  padding: 5px 0px;
}


::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: var(--scrollbar-color);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 151, 211, 0.9);
  cursor:pointer;
}
